
# Playwright
node_modules/
/test-results/
/blob-report/
/playwright/.cache/
/tests/OrderTest2.spec.js

ids.xlsx
links.xlsx
Readme.txt

# IDE/editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.temp
*.log
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.production
*.env.test
.env.example

# Specific test files
tests/OrderTest2.spec.js
tests/CartTest.spec.js
tests/CartTest2.spec.js
tests/DetailsPage.spec.js
tests/example2.spec.js
tests/excel.spec.js
tests/TopMenuTest.spec.js


