
# Playwright
node_modules/
/test-results/
/blob-report/
/playwright/.cache/
/tests/OrderTest2.spec.js

ids.xlsx
links.xlsx
Readme.txt

# Temporary files
*.tmp
*.temp
*.log
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.production
*.env.test

